{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Empleos Lomas</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'web/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'web/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'web/assets/css/templatemo-host-cloud.css' %}">
    <link rel="stylesheet" href="{% static 'web/assets/css/owl.css' %}">
    <!--

    Host Cloud Template

    https://templatemo.com/tm-541-host-cloud

    -->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Empleos Lomas</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Inicio
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/plantilla/contact">Contacto</a>
              </li>
               <!--
              <li class="nav-item">
                <a class="nav-link" href="/plantilla/about">Nosotros</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/plantilla/services">Servicios</a>
              </li>
              
             
              <li class="nav-item">
                <a class="nav-link" href="#">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/plantilla/registro">Registrate</a>
              </li>-->
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% block encabezado_seccion %}{% endblock %}
    {% block contenido %}{% endblock %}

       <!-- Footer Starts Here -->
       <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="footer-item">
                <div class="footer-heading">
                  <h2>Nosotros</h2>
                </div>
                <p>Host Cloud is provided by TemplateMo for free of charge. Anyone can download and use this CSS Bootstrap template for commercial purposes.</p>
              </div>
            </div>
            
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="footer-item">
                <div class="footer-heading">
                  <h2>Contacto</h2>
                </div>
                <ul class="footer-list">
                  <li>Email:</li>
                  <li>
                    <i class="ion-ios-email-outline"></i>
                    <p><a href="mailto:empleos.lomas2022@gmail.com?subject=Hablemos" target="_blank" rel="noopener">empleos.lomas2022@gmail.com</a></p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
              <div class="sub-footer">
                <p>Copyright &copy; © 2021 Rocktz. Todos los derechos reservados.
          - Designed by <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Ends Here --> 


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'web/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'web/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'web/assets/js/custom.js' %}"></script>
    <script src="{% static 'web/assets/js/owl.js' %}"></script>
    <script src="{% static 'web/assets/js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>

