{% extends "web/seccion.html" %}

{% block titulo %}Resultados: "{{busqueda}}"{% endblock %}
{% block contenido %}

{% if ofertas %}
<section id="cards-empleos">
    <div class="card-columns">
      <div class="card-empleos">
        {% for oferta in ofertas %}
        <div class="card bg-transparent" style="width: auto;">
          <div class="card-body" >
            <h5 class="card-title">{{ oferta.titulo }}</h5>
            <p class="card-text">{{ oferta.descripcion|truncatechars:150 }}</p>
            <a href="/empleos/{{ oferta.slug }}" class="ver-mas">Ver mas</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>  
</section>
{% else  %}
    <h5 class="card-title">No hay resultados para esta búsqueda</h5>
{% endif %}

{% endblock %}
