{% extends "web/seccion.html" %}

{% block titulo %}Contacto{% endblock %}


{% block contenido %}
    
    <!-- Contact Us Starts Here -->
    <div class="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="Nombre" required="">
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" id="email" placeholder="Email" required="">
                    </fieldset>
                  </div>
                  <div class="col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="Asunto">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" id="message" placeholder="Mensaje" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="main-button">Enviar</button>
                    </fieldset>
                  </div>
                </div>
              </form>
          </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <div class="section-heading">
                <h2>Contactanos</h2>
                <p>Si queres publicar en nuestra web o tenes algun alguna duda.</p>
                <h5>Escribinos!!!</h5>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <ul>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:empleos.lomas2022@gmail.com?subject=Hablemos" target="_blank" rel="noopener">empleos.lomas2022@gmail.com</a></p>
                  </ul>
                </div>
                <div class="col-md-6 col-sm-12">
                  <ul>
                    <li><i class="fa fa-globe"></i> www.empleoslomas.com.ar</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Us Ends Here -->
  
    {% endblock %}
    <!--<i class="fa fa-support"></i>