{% extends "web/seccion.html" %}

{% block titulo %}{{ oferta.titulo }}{% endblock %}

{% block contenido %}  

<div class="container empleo-responsivo" style="padding: 200px 0px;">
    <h1 class="header-text ">
      {{ oferta.titulo }}
    </h1>
    <div class="container">
      <div class="row">
        <section class="col-8">
          <div >
            <div>
              <h3>Descripción</h3>                  
              <p>{{ oferta.descripcion|safe }}</p>
            </div>
            <br>
            <div>
              <h5>Jornada: </h5> 
              <span>{{ oferta.jornada }} - {{ oferta.modalidad }}</span> 
            </div>
            <br>
            <div>
              <h5>Contratacion</h5>
              <span>{{ oferta.contratacion }}</span>
            </div>
            <br>
            <div>
              <h5>Rango salarial</h5>
              <span>{{ oferta.salario_desde }} - {{ oferta.salario_hasta }} </span>
            </div>
            <br>
            <div>
              <h5>Requerimientos</h5>
              <span>{{ oferta.requisitos_excluyentes|safe}}</span>
            </div>
            <br>
            <div>
              <h5>Conocimientos valorables</h5>
              <span>{{ oferta.requisitos_valorables|safe}}</span>
            </div>
            <br>
            <div>
              <h5>Bonus</h5>
              <span>{{ oferta.requisitos_bonus|safe}}</span>
            </div>
            <br>
            <div>
              <h5>Beneficios</h5>
              <span>{{ oferta.beneficios|safe}}</span>
            </div>
          </div>
        </section>  
        <SEction class="col prueba">
          <div >                                  
            <h5>Resumen del empleo</h5>                  
            <div>
              <ul>
                <li>
                  {{ oferta.titulo }}
                </li>                       
                <li>
                  {{ oferta.empresa.nombre }}
                  <a href="">{{ oferta.empresa.url }}</a>
                </li>
                <li>
                  {{ oferta.contratacion }}
                </li>
                <li>
                  Jornada: {{ oferta.jornada }} - {{ oferta.modalidad }}
                </li>
              </ul>
            </div>
            <h5>contacto</h5>
            <div>
              <ul>
                <li>{{ oferta.recruiter.nombre }} {{ oferta.recruiter.apellido }}</li>
                <li>{{ oferta.recruiter.email }}</li>
              </ul>
            </div>          
          </div>
        </SEction>
      </div>
    </div>
</div>
{% endblock %}      
