{% extends "web/base.html" %}


{% block contenido %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="header-text caption">
              <h2 style="color: black;">Encontra lo que buscas</h2>
              <div id="search-section">
              	<form id="suggestion_form" method="post" action="/empleos/">
                  {% csrf_token %}
                <div class="searchText">
                  
                  <input type="text" name="busqueda" class="searchText" placeholder="Puesto o palabra clave" autocomplete="on">
                  <!--
                  <ul>
                    <li><label><input type="checkbox" name="ext_com" value="1"><span>.com </span></label></li>
                    <li><label><input type="checkbox" name="ext_net" value="1"><span>.net </span></label></li>
                    <li><label><input type="checkbox" name="ext_org" value="1"><span>.org </span></label></li>
                    <li><label><input type="checkbox" name="ext_in" value="1"><span>.in </span></label></li>
                  </ul>-->
                </div>
                    <input type="submit" class="main-button" value="BUSCAR">
                 </form>
               <div class="advSearch_chkbox">
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
<!-- Tarjetas empleo -->
<section id="cards-empleos">
  <div class="card-columns">
    <div class="card-empleos">
      {% for oferta in ofertas %}
      <div class="card bg-transparent" >
        <div class="card-body" >
          <h5 class="card-title">{{ oferta.titulo }}</h5>
          <p class="card-text">{{ oferta.descripcion|safe|striptags|truncatechars_html:160 }}</p>
          <a href="/empleos/{{ oferta.slug }}" class="ver-mas">Ver mas</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>  
</section>
 

{% endblock %}     