{% extends "web/seccion.html" %}

{% block titulo %}Nosotros{% endblock %}


{% block contenido %}

    <div class="contact-us">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-form">
                <form id="contact" action="" method="post">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <fieldset>
                        <span>Nombre y apellido</span>
                        <input name="name" type="text" id="name" placeholder="Nombre y apellido" required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <fieldset>
                        <span>Email</span>
                        <input name="email" type="text" id="email" placeholder="Email" required="">
                      </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                      <fieldset>
                        <span>Contraseña</span>
                        <input name="subject" type="text" id="subject" placeholder="contraseña">
                      </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <fieldset>
                          <span>Reingrese contraseña</span>
                          <input name="subject" type="text" id="subject" placeholder="contraseña">
                        </fieldset>
                      </div>
                    
                    <div class="col-lg-12">
                      <fieldset>
                          <span>fecha de nacimiento</span>
                        <input name="message" type="date" id="message" placeholder="fecha de nacimiento" required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-button">Registrarse</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
            </div>
            </div>

{% endblock %}    