{% extends "web/base.html" %}


  {% block encabezado_seccion %}
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">  
          <h1>{% block titulo %}{% endblock %}</h1>
          <p><a href="/">Inicio</a></p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block contenido %}{% endblock %}